<html lang="en">
<!-- partials included -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- writing dynamic data(eg js) using ejs -->
    <!-- <% const name = 'mario' %> -->
    <!-- <p><%= name %></p> -->

    <!-- partials included -->
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length >0) { %>
            <% blogs.forEach(blog => { %>
                <h3><%= blog.title%></h3>
                <p><%= blog.snippet%></p>
            <% }) %>
        <% } else {%>
            <p>No blogs to display....</p>
        <% } %>
    </div>

    <!-- partials included -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>